<div id="<%= item[:element_id] %>" class="<%= 'top_nav_content' unless item[:main_content] %> absolute inset-x-0 top-0 -z-10 bg-white pt-16 shadow-lg ring-1 ring-gray-900/5">
	<div>
		<img class="h-32 w-full object-cover lg:h-48" src="https://teachonline.ca/sites/default/files/tools-trends/banner/1140x400-10facts-1.jpg" alt="">
	</div>
	<div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8" style="height:3000px">
		<div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
			<div id="profile-pic-container" class="flex">

				<%= image_tag("bo-dfg.jpg", class: "h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32") %>

<!--				<div id="edit-profile-pic" className="overlay opacity-0 absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center transition-opacity duration-300 hover:opacity-100 inline-block" style="margin-left: -50%; margin-top: 23%;">-->

<!--					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 50px; height: 50px">-->
<!--						<path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z" />-->
<!--						<path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z" />-->
<!--					</svg>-->

<!--				</div>-->

			</div>
			<div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
				<div class="mt-6 min-w-0 flex-1 sm:hidden md:block">
					<h1 class="truncate text-2xl font-bold text-gray-900">
						<%= item[:member_name]  %>
					</h1>
				</div>
				<div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-x-4 sm:space-y-0">

					<button type="button" data-template="templates/current_user/manage" onclick="RailsComponents.Nav.Right.DynamicSidebar.open(this)" class="inline-flex justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
						</svg>
						<span>&nbsp; Edit Profile</span>
					</button>

					<button type="button" class="inline-flex justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" onclick="RailsComponents.Nav.Top.WithHeroFlyout.toggleEl(user_top_nav_content)">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
						</svg>
						<span>&nbsp; Close</span>
					</button>

				</div>
			</div>
		</div>

		<!-- Profile Header Body -->
		<div class="flow-root">

			<div class="bg-white py-6">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-2xl text-center">
						<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">AI Projects</h2>
						<button data-template="templates/projects/create" onclick="RailsComponents.Nav.Right.DynamicSidebar.open(this)" class="mt-6 bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
							Create AI Project
						</button>
					</div>
					<div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
						<% current_user.projects.each do |project| %>
							<article class="flex flex-col items-start justify-between">
								<div class="relative w-full">
									<img src="<%= project.featured_image %>" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
									<div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
								</div>
								<div class="max-w-xl">
									<div class="mt-8 flex items-center gap-x-4 text-xs">
										<time datetime="2020-03-16" class="text-gray-500">
											<%= project.updated_at %>
										</time>
										<!--						TODO add categories or tags-->
										<!--						<a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>-->
									</div>
									<div class="group relative">
										<h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
											<a href="/my/projects/<%= project.id %>">
												<span class="absolute inset-0"></span>
												<%= project.name %>
											</a>
										</h3>
										<p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
											<%= project.purpose %>
										</p>
									</div>
									<div class="relative mt-8 flex items-center gap-x-4">
										<img src="<%= project.owner.profile_pic %>" alt="" class="h-10 w-10 rounded-full bg-gray-100">
										<div class="text-sm leading-6">
											<p class="font-semibold text-gray-900">
												<!--								TODO - urls to user profiles-->
												<a href="#">
													<span class="absolute inset-0"></span>
													<%= project.owner.full_name %>
												</a>
											</p>
											<p class="text-gray-600">Project Owner</p>
										</div>
									</div>
								</div>
							</article>
						<% end %>

						<!-- More posts... -->
					</div>
				</div>
			</div>

		</div>

		<div class="mt-6 hidden min-w-0 flex-1 sm:block md:hidden">
			<h1 class="truncate text-2xl font-bold text-gray-900">Ricardo Cooper</h1>
		</div>

	</div>
</div>
